streamlit
openpyxl
streamlit-autorefresh
pandas

# Streamlit Web App
streamlit==1.29.0

# Data Manipulation
pandas==2.1.0
openpyxl==3.1.2

# Auto-refresh live rekap
streamlit-autorefresh==0.1.1
